.spinner {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#15803d );
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }